$properties-width: 350px;
$error-color: #E74C3C;
$success-color: #18BC9C;

$selected-color: #3498DB;
$input-port-color: #40D47E;
$output-port-color: #E74C3C;
$connector-color: #e67e22;
$dependency-connector-color: #2C3E50;
