.task-node {
  width: 250px;
  height: 80px;
  padding: 15px;
  border: 1px solid #DDD;
  background-color: #FFF;
  @include border-radius(2px);
  @include transition(all 0.3s);

  &:hover {
    border-color: $selected-color;
    cursor: pointer;
  }

  &.task-node--selected {
    border-color: $selected-color;
    border-bottom-width: 2px;
    .task-node__name {
      color: $selected-color;
    }
  }
}

.task-node__name {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.task-node__def {
  font-size: 12px;
  color: #888;
}

.task-node__inputport {
  fill: $input-port-color;
  &:hover {
    cursor: pointer;
  }
}

.task-node__outputport {
  fill: $output-port-color;
  &:hover {
    cursor: pointer;
  }
}

.task-node__dependencyport {
  fill: $dependency-port-color;
}

.task-node-port-connector {
  fill: none;
  stroke: $connector-color;
  stroke-width: 1px;
}

.task-node-dependency-connector {
  fill: none;
  stroke: $dependency-connector-color;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}
