{% extends "base.html" %}
{% load jsonify %}

{% block content %}
  <div class="container" style="margin-top: 80px;">
    <h3>Workflow monitor</h3>
    <hr/>
    <div class="col-md-6">
      <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Workflow</th>
          <td>{{ workflow.name }}</td>
        </tr>
        <tr>
          <th>Run ID</th>
          <td><code>{{ run_id }}</code></td>
        </tr>
        <tr>
          <th>State</th>
          <td><span class="badge">{{ status.workflow.state }}</span></td>
        </tr>
        <tr>
          <th>Start time</th>
          <td>{{ status.workflow.execution.start_time }}</td>
        </tr>
        <tr>
          <th>End time</th>
          <td>{{ status.workflow.execution.end_time }}</td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h5>Properties</h5>
      <code>{{ workflow_run.properties_json|safe|linebreaksbr }}</code>
    </div>

    <div style="clear: both;"></div>

    <div class="col-md-12">
      <a href="{{ request.get_full_path}}" class="btn btn-sm btn-default">refresh</a>
      <a href="{% url 'workflow:execute' pk=workflow.pk %}?rerunfrom={{ workflow_run.pk }}" class="btn btn-sm btn-primary">re-run</a>
    </div>

    <div style="clear: both; padding: 10px;"></div>

    <h4>Tasks</h4>
    <hr/>

    {% for tname, tdata in status.tasks.items  %}
      <div class="col-md-4">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Task</th>
              <td>{{ tname }}</td>
            </tr>
            <tr>
              <th>State</th>
              <td>
                {% if tdata.state == 'SUCCESSFUL' %}
                  <span class="label label-success">{{ tdata.state }}</span>
                {% elif tdata.state == 'FAILURE' %}
                  <span class="label label-danger">{{ tdata.state }}</span>
                {% elif tdata.state == 'SKIPPED' %}
                  <span class="label label-warning">{{ tdata.state }}</span>
                {% elif tdata.state == 'RUNNING' %}
                  <span class="label label-primary">{{ tdata.state }}</span>
                {% else %}
                  <span class="label label-default">{{ tdata.state }}</span>
                {% endif %}
              </td>
            </tr>
            {% if tdata.state == 'FAILURE' %}
            <tr>
              <th>Exception</th>
              <td><code>{{ tdata.exception }}</code></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Inputs</div>
          <div class="panel-body">
            <table class="table table-bordered">
              <tbody>
                {% for k, v in tdata.input.values.items  %}
                  <tr>
                    <th style="width: 150px;">{{ k }}</th>
                    <td>
                      <div style="overflow-x: auto; font-size: 0.8em; max-height: 300px; width: 525px;">
                        <samp style="white-space: pre;">{{ v }}</samp>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr><td><samp>No Inputs for this task.</samp></td></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Outputs</div>
          <div class="panel-body">
            <table class="table table-bordered">
              <tbody>
                {% for k, v in tdata.output.values.items  %}
                  <tr>
                    <th style="width: 150px;">{{ k }}</th>
                    <td>
                      <div style="overflow-x: auto; font-size: 0.8em; max-height: 300px; width: 525px;">
                        <samp style="white-space: pre;">{{ v }}</samp>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr><td><samp>No Outputs for this task.</samp></td></tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>
    {% endfor %}
  </div>
{% endblock content %}
