{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Cloud Task Manager</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'third-party/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'third-party/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'third-party/themify/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    {% block head %}{% endblock head %}
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cloud Task Manager</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url "workflow:list" %}">Workflows</a></li>
            <li><a href="{% url "workflow:mlist" %}">Monitor</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'third-party/jquery/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third-party/jquery/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third-party/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/workflowui.js' %}"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

    {% block extra-head %}{% endblock extra-head %}
  </body>
</html>
